POSTGRES_DB=airport
POSTGRES_USER=airport_user
POSTGRES_PASSWORD=airport_pass

DATABASE_NAME=airport
DATABASE_USER=airport_user
DATABASE_PASSWORD=airport_pass
DATABASE_HOST=db
DATABASE_PORT=5432
PGDATA=/var/lib/postgresql/data

SECRET_KEY=T4gYBWiM2SlKK6Y1uV4A3l3XiOWo4Hv8Dk9jGvmL7EDsmWa6ph
DJANGO_DEBUG=True
ALLOWED_HOSTS=[]
